#upload-form {border-top:#F0F0F0 2px solid;background:#FAF8F8;padding:10px;}
#upload-form label {margin:2px; font-size:1em; font-weight:bold;}
#uploading-progress-bar {background-color: #12CC1A;height:20px;color: #FFFFFF;width:0%;-webkit-transition: width .3s;-moz-transition: width .3s;transition: width .3s;}
#uploading-progress-div {border:#0FA015 1px solid;padding: 5px 0px;margin:30px 0px;border-radius:4px;text-align:center;}
